.jumbotron {
    text-align: center;
    background-color: rgb(245, 248, 59);
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(87, 85, 85);
    
}
.btn-reserva{
    width:100%;
    border-radius: 2px;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(243, 243, 62);
    margin-top: 20px     
}
.container{
   
}
.body{
    
    margin-left: 20px;
    margin-right: 20px;
    
}
.row {
    margin: 20px;
    margin-right: 10px;
}
.column {
    margin: 20px;
    margin-right: 10px;
}
.footer-adress-icon{
    padding-right: 15px;
    margin-top: 10px;
}
.breadcrumb{
    background-color:rgb(245, 248, 59);   
    margin-left: 20px;
    margin-right: 20px; 
    
}
.card-hotel{
    flex: 1 200px;
    margin-top: 2px;

}
.thead{
    color: white;
}
.btn{
    width: 100%;
}
